@import './reset.scss';

body {
    background-color: #F5FAFE;
}

.header {
    width: 100%;
    font-family: 'Muli', sans-serif;
    color: #333333;

    .nav-top {
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 180px;
    
        .nav-top__left-section {
            font-style: normal;
            font-weight: bold;
            font-size: 10px;
            line-height: 13px;
            width: 243px;
            height: 13px;
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            .call-us {
                font-weight: 400;
                text-decoration: none;
                color: #333333;

                .question {
                    font-weight: 700;
                }

                @media screen and (max-width: 248px) {
                    display: flex;
                    align-items: center;
                    height: auto;
                    flex-flow: column;
                }
            }

            @media screen and (max-width: 715px) {
                margin-right: 5px;
            }

            @media screen and (max-width: 524px) {
                margin: 0;
            }

            @media screen and (max-width: 248px) {
                height: auto;
                justify-content: center;
                padding-bottom: 5px;
            }
        }
    
        .nav-top__right-section {
            display: flex;
    
            .gift-card {
                font-style: normal;
                font-weight: normal;
                font-size: 10px;
                line-height: 13px;
                width: 102px;
                height: 18px;
                margin-right: 150px;

                @media screen and (max-width: 860px) {
                    margin-right: 100px;
                }

                @media screen and (max-width: 780px) {
                    margin-right: 50px;
                }

                @media screen and (max-width: 715px) {
                    margin-right: 5px;
                }

                @media screen and (max-width: 670px) {
                    margin-right: 70px;
                }

                @media screen and (max-width: 585px) {
                    margin-right: 40px;
                }

                @media screen and (max-width: 555px) {
                    margin-right: 20px;
                }

                @media screen and (max-width: 535px) {
                    margin-right: 10px;
                }

                @media screen and (max-width: 248px) {
                    margin-bottom: 10px;
                }

                & > a {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    text-decoration: none;
                    color: #333333;
                }
            }
        
            .loyality-program {
                font-weight: normal;
                width: 115px;
                height: 18px;
                font-size: 10px;
                line-height: 13px;

                & > a {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    text-decoration: none;
                    color: #333333;
                }
            }

            @media screen and (max-width: 248px) {
                flex-flow: column;
            }
        }

        @media screen and (max-width: 1100px) {
            padding: 0 100px;
        }

        @media screen and (max-width: 1000px) {
            padding: 0 100px;
        }

        @media screen and (max-width: 670px) {
            padding: 0 25px;
        }

        @media screen and (max-width: 524px) {
            flex-flow: column;
            justify-content: space-around;
        }

        @media screen and (max-width: 248px) {
            height: auto;
            padding: 10px 0;
        }
    }
    
    .navbar {
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 180px;
        background: #fff;

        .navbar__title {
            width: 177px;
            height: 24px;

            & > a {
                text-decoration: none;
                font-family: Luckiest Guy;
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 24px;
                color: #333333;
            }
            
            .title__tour {
                color: #EC1F46;
            }
        }

        .navbar__search-bar {
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: end;
            margin-right: 275px;

            .search-bar__form {
                display: flex;
                align-items: center;

                .form__find-bar {
                    width: 285px;
                    height: 40px;
                    background: #F5FAFE;
                    border-radius: 6px 0 0 6px;    
                    border: none;         
                    padding: 12px 0 13px 23px;

                    &::placeholder {
                        font-family: Muli;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 15px;
                        width: 89px;
                        height: 15px;
                        position: relative;
                        top: -2px;
                    }

                    @media screen and (max-width: 350px) {
                        width: 80%;
                    }
                }
                .form__find-btn {
                    width: 65px;
                    height: 40px;
                    background: #EC1F46;
                    border-radius: 0px 6px 6px 0px;
                    border: none;
                    outline: none;
                    cursor: pointer;
                }

                @media screen and (max-width: 350px) {
                    width: 90vw;  
                }
            }
            
            @media screen and (max-width: 1415px) {
                margin: 0;
            }

            @media screen and (max-width: 1136px) {
                order: 1;
                margin: 0 auto;
            }

            @media screen and (max-width: 1100px) {
                order: 0;
                margin: 0;
            }

            @media screen and (max-width: 976px) {
                order: 1;
                margin: 0 auto;
            }
        }

        .navbar__profile {
            width: 250px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .profile__cart {
                width: 34px;
                height: 34px;    
                text-decoration: none;
                display: block;

                .cart__shopping-cart {
                    width: 24px;
                    height: 24px;
                    position: relative;
                    top: 10px;
                }
    
                .cart__group {
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    color: #fff;
                    background: #EC1F46;  
                    text-align: center;
                    position: relative;
                    top: -24px;
                    left: 12px;
    
                    .group__count {
                        width: 6px;
                        height: 13px;  
                        position: relative;
                        top: -3px;
                        font-family: Muli;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 13px;
                    }
                }
            }

            .profile__info {
                display: block;
                text-decoration: none;
                width: 150px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .info__photo {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background: url('img/profile-photo.jpeg');
                    background-position: center;
                    background-size: 161% 103%;
                    background-position: 70%;
                }
    
                .info__name {
                    & > span {
                        width: 49px;
                        height: 18px;
                        font-family: Muli;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 18px;
                        color: #333333;
                    }
                }
    
                .info__arrow {
                    margin-top: 1px;
                    width: 24px;
                    height: 24px;
                }
            }

            @media screen and (max-width: 476px) {
                margin: 10px 0; 
            }

            @media screen and (max-width: 250px) {
                width: 95%;
            }
        }


        @media screen and (max-width: 1136px) {
            flex-wrap: wrap;
        }

        @media screen and (max-width: 1100px) {
            padding: 0 100px;
        }

        @media screen and (max-width: 670px) {
            padding: 0 25px;
        }

        @media screen and (max-width: 476px) {
            flex-wrap: nowrap;
            flex-flow: column;
            height: auto;
            padding: 10px 0;
        }
    }

    .nav-bottom {
        background: #0A223D;
        padding: 0 180px;
        
        .nav-bottom__list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 80px;

            .nav-bottom__link {
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                list-style-type: none;

                & > a {
                    padding: 5px 5px;
                    text-decoration: none;
                    border: none;
                    outline: none;
                    font-family: Muli;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 18px;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    transition: all 0.4s;

                    &:hover {
                        color: #EC1F46;
                        transform: scale(1.2, 1.2);
                    }

                    @media screen and (max-width: 928px) {
                        &:hover {
                            transform: none;
                        }
                        
                    }
                }


            }

            @media screen and (max-width: 887px) {
                flex-wrap: wrap;
                justify-content: center;
            }

            @media screen and (max-width: 326px) {
                height: auto;
            }
        }
        @media screen and (max-width: 1100px) {
            padding: 0 100px;
        }

        @media screen and (max-width: 670px) {
            padding: 0 25px;
        }  
    }
}


main {
    .main-wrapper {
        padding: 0 180px;

        @media screen and (max-width: 1100px) {
            padding: 0 100px;
        }

        @media screen and (max-width: 670px) {
            padding: 0 25px;
        }
    }

    .bread-crumb {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        height: 50px;
        font-family: 'Muli', sans-serif;
        font-style: normal;
        font-size: 10px;
        line-height: 13px;
    
        & a {
            text-decoration: none;
            color: #333333;
        }
    }

    .hotel-name {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100px;

        .hotel-name__left-section {
            flex-grow: 1;
            display: flex;
            flex-flow: column;
            align-items: flex-start;
            justify-content: center;

            .hotel-name__hotel-rating {
                width: auto;
            }
            .hotel-name__name {
                font-family: Muli;
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                line-height: 30px;
                color: #333333;
                display: flex;
                align-items: center;

                & > button {
                    margin-left: 14px;
                    width: 70px;
                    height: 20px;
                    border: 0;
                    outline: 0;
                    cursor: pointer;
                    text-decoration: none;
                    font-weight: 600;
                    font-size: 10px;
                    line-height: 13px;
                    color: #FFFFFF;
                    width: 70px;
                    height: 20px;
                    background: #EC1F46;
                    border-radius: 3px;

                    @media screen and (max-width: 402px) {
                        margin: 0;
                    }
                }

                @media screen and (max-width: 402px) {
                    flex-flow: column;
                    align-items: flex-start;
                }
            }
            .hotel-name__additional-info {
                font-weight: normal;
                font-size: 12px;
                line-height: 15px;
                color: #333333;

                @media screen and (max-width: 402px) {
                    margin-top: 5px;
                }
            }

            @media screen and (max-width: 470px) {
                width: 100%;
            }
        }
        .hotel-name__right-section {
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .hotel-name__user-rating {
                font-family: Muli;
                font-style: normal;
                display: flex;
                flex-flow: column;
                align-items: center;
                justify-content: center;
                background: #EC1F46;
                width: 65px;
                height: 45px;
                border-radius: 4px;
                border: none;
                outline: none;
                cursor: pointer;

                .user-rating__label {
                    font-weight: 600;
                    font-size: 8px;
                    line-height: 10px;
                    color: #FFFFFF;
                    padding: 0 0 2px 0;
                }

                .user-rating__value {
                    font-weight: bold;
                    font-size: 14px;
                    line-height: 18px;
                    color: #FFFFFF;
                    
                    .user-rating__right-num {
                        font-size: 12px;
                    }
                }
            }

            @media screen and (max-width: 470px) {
                margin-top: 5px;
                width: 100%;
                justify-content: flex-start;
            }
        }

        @media screen and (max-width: 470px) {
            height: auto;
            flex-flow: column;
        }
    }

    .hotel-info {
    
        .hotel-info__slider {
            width: 728px;
            height: 450px;
            background-image: url('hotel-img.png');
            position: relative;
            background-size: 100%;
            border-radius: 8px;
        
            &:after {
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: transparent;
                background-image: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%);
                border-radius: 8px;
            }

            .slider__arrow {
                border: none;
                background: none;
                position: absolute;
                cursor: pointer;
                padding: 0;
                width: 30px;
                height: 30px;
                top: 50%;
                transform: translateY(-50%);
            }

            .arrow_left {
                left: 16px;
            }

            .arrow_right { 
                right: 18px;
            }
        }

        .hotel-info__booking {
            font-family: Nunito;
            font-style: normal;
            width: 350px;
            height: 210px;
            background: #0A223D;
            border-radius: 8px;
            position: relative;
            padding: 26px 29px 26px 26px;

            .booking__price {
                width: 86px;
                height: 59px;
                font-weight: normal;
                display: flex;
                flex-flow: column;
                align-items: flex-start;

                .price__price-starts-as {
                    font-size: 10px;
                    line-height: 14px;
                    color: #FFFFFF;
                }

                .price__text {
                    font-weight: 800;
                    font-size: 24px;
                    line-height: 33px;

                    color: #FFFFFF;
                }
                
                .price__per-room {
                    font-size: 12px;
                    line-height: 16px;

                    color: #FFFFFF;
                }
            }
            
            .booking__person-room {
                width: 80px;
                height: 40px;
                position: absolute;
                top: 26px;
                right: 29px;
                display: flex;
                flex-flow: column;
                justify-content: space-between;
                align-items: center;

                .person-room__group {
                    width: 100%;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 16px;
                    color: #FFFFFF;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
            }

            .booking__call-center {
                width: 100%;
                display: flex;
                justify-content: space-between;

                .call-center__text {
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 25px;
                    color: #FFFFFF;
                }

                .call-center__call {
                    text-decoration: none;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 25px;
                    color: #FFFFFF;

                    & > span {
                        margin-left: 8px;
                    }
                }
            }
            
            .booking__btn {
                width: 295px;
                height: 45px;
                border: none;
                cursor: pointer;
                padding: 0;
                background: #EC1F46;
                border-radius: 4px;
                font-weight: 600;
                font-size: 14px;
                line-height: 19px;
                color: #FFFFFF;
                position: absolute;
                bottom: 26px;
            }
        }
    }
}