@import './reset.scss';

body {
    background-color: #F5FAFE;
}

.header {
    width: 100%;
    font-family: 'Muli', sans-serif;
    color: #333333;

    .nav-top {
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 180px;
    
        .nav-top__left-section {
            font-style: normal;
            font-weight: bold;
            font-size: 10px;
            line-height: 13px;
            width: 243px;
            height: 13px;
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            .question {
                font-weight: 700;
            }
    
            .call-us {
                font-weight: 400;
            }

            @media screen and (max-width: 715px) {
                margin-right: 5px;
            }

            @media screen and (max-width: 524px) {
                margin: 0;
            }

            @media screen and (max-width: 248px) {
                height: auto;
                flex-flow: column;
                margin-bottom: 10px;
            }
        }
    
        .nav-top__right-section {
            display: flex;
    
            .gift-card {
                font-style: normal;
                font-weight: normal;
                font-size: 10px;
                line-height: 13px;
                width: 102px;
                height: 18px;
                margin-right: 150px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                @media screen and (max-width: 860px) {
                    margin-right: 100px;
                }

                @media screen and (max-width: 780px) {
                    margin-right: 50px;
                }

                @media screen and (max-width: 715px) {
                    margin-right: 5px;
                }

                @media screen and (max-width: 670px) {
                    margin-right: 70px;
                }

                @media screen and (max-width: 585px) {
                    margin-right: 40px;
                }

                @media screen and (max-width: 555px) {
                    margin-right: 20px;
                }

                @media screen and (max-width: 535px) {
                    margin-right: 10px;
                }

                @media screen and (max-width: 248px) {
                    margin-bottom: 10px;
                }
            }
        
            .loyality-program {
                font-weight: normal;
                width: 115px;
                height: 18px;
                font-size: 10px;
                line-height: 13px;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            @media screen and (max-width: 248px) {
                flex-flow: column;
            }
        }

        @media screen and (max-width: 1100px) {
            padding: 0 100px;
        }

        @media screen and (max-width: 1000px) {
            padding: 0 100px;
        }

        @media screen and (max-width: 670px) {
            padding: 0 25px;
        }

        @media screen and (max-width: 524px) {
            flex-flow: column;
            justify-content: space-around;
        }

        @media screen and (max-width: 248px) {
            height: auto;
            padding: 10px 25px 10px 25px;
        }
    }
    
    .navbar {
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 180px;
        background: #fff;

        .navbar__title {
            width: 177px;
            height: 24px;
            font-family: Luckiest Guy;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 24px;

            .title__tour {
                color: #EC1F46;
            }
        }

        .navbar__search-bar {
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: end;
            margin-right: 275px;

            .search-bar__form {
                display: flex;
                align-items: center;

                .form__find-bar {
                    width: 285px;
                    height: 40px;
                    background: #F5FAFE;
                    border-radius: 6px 0 0 6px;    
                    border: none;         
                    padding: 12px 0 13px 23px;

                    &::placeholder {
                        font-family: Muli;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 15px;
                        width: 89px;
                        height: 15px;
                        position: relative;
                        top: -2px;
                    }

                    @media screen and (max-width: 350px) {
                        width: 80%;
                    }
                }
                .form__find-btn {
                    width: 65px;
                    height: 40px;
                    background: #EC1F46;
                    border-radius: 0px 6px 6px 0px;
                    border: none;
                    outline: none;
                }

                @media screen and (max-width: 350px) {
                    width: 90vw;  
                }
            }
            
            @media screen and (max-width: 1415px) {
                margin: 0;
            }

            @media screen and (max-width: 1136px) {
                order: 1;
                margin: 0 auto;
            }

            @media screen and (max-width: 1100px) {
                order: 0;
                margin: 0;
            }

            @media screen and (max-width: 976px) {
                order: 1;
                margin: 0 auto;
            }
        }

        .navbar__profile {
            width: 250px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .profile__cart {
                width: 34px;
                height: 34px;    
                
                .cart__shopping-cart {
                    width: 24px;
                    height: 24px;
                    position: relative;
                    top: 10px;
                }
    
                .cart__group {
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    color: #fff;
                    background: #EC1F46;  
                    text-align: center;
                    position: relative;
                    top: -24px;
                    left: 12px;
    
                    .group__count {
                        width: 6px;
                        height: 13px;  
                        position: relative;
                        top: -3px;
                        font-family: Muli;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 13px;
                    }
                }
            }

            .profile__info {
                width: 150px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .info__photo {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background: url('img/profile-photo.jpeg');
                    background-position: center;
                    background-size: 161% 103%;
                    background-position: 70%;
                }
    
                .info__name {
                    & > span {
                        width: 49px;
                        height: 18px;
                        font-family: Muli;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 18px;
                        color: #333333;
                    }
                }
    
                .info__arrow {
                    margin-top: 1px;
                    width: 24px;
                    height: 24px;
                }
            }

            @media screen and (max-width: 476px) {
                margin: 10px 0; 
            }

            @media screen and (max-width: 250px) {
                width: 95%;
            }
        }


        @media screen and (max-width: 1136px) {
            flex-wrap: wrap;
        }

        @media screen and (max-width: 1100px) {
            padding: 0 100px;
        }

        @media screen and (max-width: 670px) {
            padding: 0 25px;
        }

        @media screen and (max-width: 476px) {
            flex-wrap: nowrap;
            flex-flow: column;
            height: auto;
            padding: 10px 0;
        }
    }

    .nav-bottom {
        background: #0A223D;
        height: 80px;
        padding: 0 180px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .nav-bottom__btn {
            border: none;
            outline: none;
            font-family: Muli;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 18px;
            text-transform: uppercase;
            color: #FFFFFF;
            background: none;
            height: 18px;

            @media screen and (max-width: 326px) {
                margin: 5px 5px;
                height: auto;
            }
        }

        @media screen and (max-width: 1100px) {
            padding: 0 100px;
        }

        @media screen and (max-width: 887px) {
            flex-wrap: wrap;
            justify-content: center;
        }

        @media screen and (max-width: 670px) {
            padding: 0 25px;
        }

        @media screen and (max-width: 326px) {
            height: auto;
        }
    }
}
